
.test{
  background-color: rgba(255, 0, 0, 0.555);
  border: 1px solid black;
}

.test2{
  background-color: rgba(0, 0, 255, 0.448);
  border: 1px solid black;
}

.test3{
  background-color: rgba(0, 128, 0, 0.57);
  border: 1px solid black;
}